<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<!-- Appenders are responsible for writing the messages somewhere -->
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{HH:mm:ss} [%-5level] %class.%method:%line|%msg%n" />
		</Console>
		<Console name="stdout.aspect" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{HH:mm:ss} [%-5level] [%logger] %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Root element sets the default logger for the project -->
		<Root level="ERROR">
			<AppenderRef ref="stdout" />
		</Root>
		<!-- Logger element sets the specific logger -->
		<Logger name="aspectj" level="TRACE"
			additivity="false">
			<AppenderRef ref="stdout.aspect" />
		</Logger>
	</Loggers>
</Configuration>